body {
    font-family: 'Lato', sans-serif;
}

.image-bank {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.image-box {
    display: flex;
    flex-direction: row;
    margin: 4px;
}

.date {
    font-family: 'Staatliches', sans-serif;
    margin-top: 16px;
}

.description {
    margin: 16px;
    max-width: 200px;
    padding-left: 16px;
    border-left: 3px solid #45f;
}

a {
    color: #45f;
}

img {
    cursor: pointer;
    max-height: 750px;
    max-width: 75%;
    object-fit: contain;
    width: auto;
}

h2, h3 {
    margin-left: 44px;
}

h2 {
    font-family: 'Staatliches', sans-serif;
    font-size: 3em;
    margin-bottom: -24px;
}

@media (max-aspect-ratio: 1/1) {
  	.image-box {
        flex-direction: column;
    }

    img {
        height: auto;
        max-width: 100%;
    }

    h2, h3 {
        margin: none;
    }

    .description {
        border-left: none;
        border-top: 3px solid #45f;
        font-size: 2em;
        margin: 16px;
        padding-left: none;
        padding-top: 8px;
        max-width: 400px;
    }

    .date {
        margin-top: 4px;
    }
}
